.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.gap-15px {
    gap: 15px;
}

.gap-30px {
    gap: 30px;
}

.btn {
    border-radius: 162px;
    background-color: var(--orange);
    color: #fff;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s ease;
}

.btn:hover {
    background-color: #000000;
    transform: scale(1.1);
}

.btn-default {
    line-height: 55px;
    padding: 0 36px;
    font-size: 16px;

}

.btn-large {
    line-height: 74px;
    padding: 0 55px;
    font-size: 20px;
}

.btn-bg-white {
    background-color: #ffff;
    color: var(--black);
    line-height: 74px;
    padding: 0 55px;
    font-size: 20px;
    transition: all .4s ease;
}

.btn-bg-white:hover {
    color: #fff;



}

.btn-bg-green {
    border-radius: 162px;
    background-color: #008000;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s ease;
}

.btn-bg-green:hover {
    background-color: #000000;
    transform: scale(1.1);
}