@import url('./helpers.css');

:root {

    --black: #311F09;
    --orange: #FF8A00;
    --green: #3FA72F;
    --white-orange: #ffE6C9;
}

body,
html,
p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
margin: 0;
padding: 0;
font-family: "Tinos", sans-serif;
font-weight: 700;
}

* {
    box-sizing: border-box;

}

.container {
    max-width: 1230px;
    margin: 0px auto;

}

.logo-icon {
    background-color: var(--orange);
    width: 51px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.logo-icon span {
    color: #ffff;
    font-size: 25px;
    font-weight: 600;
}

.header-content>a {
    text-decoration: none;
    display: flex;
    gap: 18px;
    align-items: center;
}




.logo-name {
    color: var(--black);
    font-weight: 600;
    display: flex;
    font-family: "Poppins", sans-serif;
}

.logo-name span {
    color: var(--orange);
}

.logo-name p {
    letter-spacing: 2;
}

header {
    margin-top: 51px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content__last {
    display: flex;
    align-items: center;
}

.header-content__last img {
    background-color: #a09f9f;
    padding: 8px;
    border-radius: 162.94px;
    transition: all .4s ease;
}

.header-content__last img:hover {
    background-color: var(--orange);
    transform: scale(1.1);

}



.header-content__last a:first-of-type {
    position: relative;
    display: inline-block;
}

.header-content__last a:first-of-type::after {
    content: "3";
    position: absolute;
    right: 20px;
    background-color: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    line-height: 1;

}


nav a {
    text-decoration: none;
    margin-right: 45px;
    color: var(--black);
    transition: all .4s ease;
    display: inline-block;
}

nav a:last-of-type {
    margin-right: 0;
}

nav a.checked {
    color: var(--orange);
}

.header-content__last img {
    margin-right: 25px;

}

.header-content__last a:last-of-type {
    background-color: var(--green);
    text-decoration: none;
    color: #fff;
    padding: 15px 34px;
    border-radius: 133px;
    transition: background-color .4s ease;
}

.header-content__last a:last-of-type:hover {
    background-color: #FF8A00;
}

nav a:hover {
    color: #FF8A00;
    transform: scale(1.05);
}


/* MAiN */
main {
    margin-top: 166px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.main-content_about {
    color: var(--orange);
    background-color: var(--white-orange);
    padding: 10px 34px;
    border-radius: 126px;
    display: inline-block;
    margin-bottom: 22px;

}



.main-content h1 {
    color: var(--black);
    font-size: 80px;
    font-family: "Raleway", sans-serif;
    line-height: 110%;
    font-weight: 700;
    margin-bottom: 30px;
}


.main-content p {
    line-height: 200%;
    margin-bottom: 77px;
    color: var(--black);
}

.main-content__buttons a:first-of-type {
    padding: 17px 62px;
    background-color: var(--orange);
    border-radius: 162px;
    color: #ffff;
    text-decoration: none;
    transition: transform .4s ease;
    display: inline-block;
}

.main-content__buttons a:last-of-type {
    padding: 17px 55px;
    background-color: var(--green);
    border-radius: 162px;
    color: #ffff;
    text-decoration: none;
    margin-left: 23px;
    transition: transform .4s ease;
    display: inline-block;
}

.main-content__buttons a:hover {
    transform: scale(1.05);
}


/* Welcome */
.welcome {
    background-color: rgba(63, 198, 110, 0.1);
    padding-top: 147px;
    padding-bottom: 132px;

}

.wecome-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wecome-inner h2 {
    font-family: "Tinos", sans-serif;
    font-weight: 700;
    line-height: 120%;
    font-size: 80px;
    margin-bottom: 60px;
    color: var(--black);
}

.wecome-inner h2 span {
    color: var(--orange);
}

.wecome-inner p {
    color: #5C4529;
    line-height: 200%;
    margin-bottom: 122px;
}

.wecome-inner a {
    transition: transform 0.5s ease;
    background-color: var(--orange);
    color: #ffff;
    padding: 17px 45px;
    border-radius: 162px;
    text-decoration: none;
    display: inline-block;
}

.wecome-inner a:hover {
    transform: scale(1.1);

}

/* MENU */

.menu {
    padding-top: 164px;
    padding-bottom: 201px;
}

.menu h3 {
    font-family: "Tinos", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 80px;
    line-height: 200%;
    color: var(--black);
    margin-bottom: 60px;
}

.menu-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.menu-buttons a {
    background-color: #D0CCC7;
    color: var(--black);
    font-size: 20px;
    text-decoration: none;
    padding: 17px 64px;
    border-radius: 162px;
    transition: all .4s ease;
}

.main-content__buttons {
    display: flex;
    gap: 23px;
}


.menu-buttons .checked {
    background-color: var(--black);
    color: #ffff;
}

.menu-buttons a:hover {
    background-color: var(--black);
    transform: scale(1.1);
    color: #fff;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 88px;
}

.menu-item {
    width: 30%;
    max-height: 637px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(208, 204, 199, 0.1);
    border-radius: 70px;
    text-align: center;
    padding: 35px 29px;
}

a {
    color: var(--black);
    text-decoration: none;
}

.menu-item__image {
    height: 271px;
    width: 100%;

}

.menu-item__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-item__description p {
    line-height: 200%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.menu-item__description h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 200%;
    color: var(--black);
}

.menu-item__description {
    width: 100%;
}




.menu-item__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.menu-item__price {
    font-weight: 600;
    font-size: 25px;
    color: var(--black);
}



.menu-item h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 200%;
    margin-bottom: 5px;
}

.menu-item__raiting img {
    margin-bottom: 15px;
}

.menu-item__raiting img {
    margin-right: 10px;
}

.menu-item__raiting img:last-of-type {
    margin-right: 0px;
}

.menu-item p {
    font-size: 14px;
    line-height: 200%;
    color: var(--black);
    margin-bottom: 30px;

}

.menu-item__last {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item__price {
    font-weight: 600;
    font-size: 25px;
}

.menu-item__last a {
    background-color: var(--orange);
    color: #ffff;
    text-decoration: none;
    padding: 14px 36px;
    border-radius: 162px;
    font-size: 16px;
    transition: all 0.4s ease;
}

.menu-item__last a:hover {

    transform: scale(1.1);

}




.menu-pag {
    display: flex;
    justify-content: center;

}

.menu-pag a {
    text-decoration: none;
}

.back {
    background-color: var(--black);
    border-radius: 15px;
    margin-right: 15px;
    color: #ffff;
    height: 55px;
    width: 55px;
    position: relative;
}




.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

/* pagination */

.pagination {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.pagination__inner {
    display: flex;
}

.pagination__block {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color .3s ease;
}

.pagination__block:hover {
    opacity: .9;
    background-color: var(--black);
    color: #ffffff;
}

.pagination__block:hover img {
    fill: #ffffff;
}

.pagination_page {
    color: #FF8A00;
    font-size: 16px;
    font-weight: 600;
}

.p-bg-orange {
    background-color: rgba(255, 138, 0, 0.1);
}

.p-bg-brown {
    background-color: var(--black);
}

.p-bg-transparent {
    background-color: transparent;
}

.pagination__dots {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.pagination__dots .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #B7A28B;
}


/*  reserve page */

.reserve {
    background-color: #FFF4E7;
    width: 100%;
    overflow: hidden;
}

.reserve__inner {
    display: flex;
    gap: 100px;
    padding: 115px 0 39px 0;
    height: 1056px;
}

.reserve__image {
    width: 50%;
    position: relative;
}

.reserve__image-item {
    width: 664px;
    height: 664px;
    background-color: rgba(225, 195, 159, .2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 109px;
    top: 50%;
    transform: translateY(-50%);
}

.reserve__image-item img {
    width: calc(100% - 110px);
    height: calc(100% - 110px);
    border-radius: 50%;
    object-fit: cover;
}

.reserve__description {
    width: 50%;

}

.reserve__description h2 {
    font-size: 80px;
    font-family: "Tinos", sans-serif;
}

.reserve__image-item__small {
    width: 180px;
    height: 180px;
    position: absolute;
    right: 100px;
    top: 50px;
}

.reserve__image-item__small img {
    width: 140px;
    height: 140px;
}

.reserve__image-item__small:nth-child(3) {
    top: unset;
    bottom: -140px;
    left: 160px;
}

.reserve__image-big-circle {
    width: 882px;
    height: 882px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(49, 31, 9, .2);
    position: relative;
    right: 100px;
    top: 0;
}


h2 span {
    color: var(--orange);
}

.reserve__description p {
    line-height: 200%;
    margin-top: 50px;
    color: var(--black);
    margin-right: 184px;
}

.reserve__description button {
    margin-top: 132px;
}


/* OUR Chiefs */


.chef-header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 175px;
    font-size: 80px;
    margin-bottom: 135px;
}

.chef-unit {
    display: inline-block;
    margin-left: 50px;

}

.chef-unit:last-of-type {
    margin-right: 0;
}

.chief-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 30px;
}

.chief-role {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A08D76;
    font-size: 25px;
    font-weight: 400;
    line-height: 200%;
}

.View-all-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 271px;
}

.cust-view__header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    margin: 120px auto 57px;
}

.cust-view__header h2 {
    font-size: 80px;
}

.cus-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
}

.cus-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 200%;
    color: var(--black);
}

.cus-role {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A08D76;
    font-size: 20px;
    font-weight: 400;
    line-height: 200%;
}

.cus-opinion {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 200%;
}

.cus-opinion::before {
    content: "“";
    color: var(--black);
    font-size: 80px;
    margin: 0 9px 136px 0;
}

.cus-opinion::after {
    content: "“";
    color: var(--black);
    font-size: 80px;
    margin: 136px 0 0 9px;
}




.work-schedule__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-image: url(../assets/images/schedule-bg.png);

    background-size: cover;
    height: 588px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 80px;
}

.work-schedule__description {
    color: #ffff;
}

.work-schedule__description h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 80px;
    line-height: 200%;
    font-family: "Tinos", sans-serif;


}

.work-schedule__inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 50px;
}

.work-schedule__description,
.action-btn {
    position: relative;
    z-index: 2;
}

.work-schedule {
    margin-bottom: 238px;
}

.schedule-info h5 {
    text-align: center;
    font-size: 40px;
}

.schedule-info {
    display: flex;
    flex-direction: column;
    width: 369px;
    margin: 0 auto;
}

.schedule-info__description p {
    display: flex;
    line-height: 200%;
}

.schedule-info__description span {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 200%;
}

.action-btn {
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin-top: 50px;
}

/* FOOTER */
.footer {
    padding-top: 149px;
    background-color: var(--black);
    height: 691px;
}

.footer a {
    text-decoration: none;
    line-height: 200%;
    font-size: 20px;
    color: #ffff;

}

.footer-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
}


.footer__first-part {
    flex: 1 1 250px;
    margin-bottom: ;
}

.logo-name-part {
    display: flex;
    gap: 18px;
}

.header-logo {
    color: var(--black);
}

.logo-icon span {
    display: inline-block;
    background-color: #ff8c00;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    line-height: 200%;
    font-size: 20px;

}

.logo-name {
    display: flex;
    align-items: baseline;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.logo-name p {
    color: #181818;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}

.logo-name span {
    color: var(--orange);

}

.footer__first-part p {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #ccc;
    line-height: 200%;
}

.social-media-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-media-icons img {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.footer__second-part,
.footer__third-part,
.footer-forth-part {
    flex: 1 1 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__second-part a:first-child,
.footer__third-part a:first-child,
.footer-forth-part a:first-child {
    font-weight: bold;
    color: var(--orange);
    margin-bottom: 10px;
}


.footer a:hover {
    color: var(--orange);
}

.footer p:last-child {
    text-align: center;
    margin-top: 93px;
    color: #ffff;
}


/*  carousel section */

.footer-forth-part {}


/*  carousel section */

.cust-view__carousel {
    width: 100%;
    height: 334px;
    position: relative;
    overflow: hidden;
}

.cust-view__carousel--item {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
}

.cust-view__carousel--item img {
    border-radius: 50%;
    object-fit: cover;
    z-index: 100;
    position: relative;
}

.cust-view__carousel--item:nth-child(1) {
    top: 40px;
    left: 40px;
}

.cust-view__carousel--item:nth-child(2) {
    top: 82px;
    left: 14%;
}

.cust-view__carousel--item:nth-child(3) {
    top: 141px;
    left: 28%;
}

.cust-view__carousel--item:nth-child(4) {
    top: 141px;
    left: 50%;
    transform: translateX(-50%);
}

.cust-view__carousel--item:nth-child(5) {
    top: 141px;
    left: unset;
    right: 28%;
}

.cust-view__carousel--item:nth-child(6) {
    top: 82px;
    left: unset;
    right: 14%;
}

.cust-view__carousel--item:nth-child(7) {
    top: 40px;
    left: unset;
    right: 40px;
}

.cust-view__carousel--item::before,
.cust-view__carousel--item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
}

.cust-view__carousel--item::before {
    padding: 20px;
    background-color: rgba(255, 138, 0, .4);
    z-index: 2;
    transition: opacity .3s ease;
}

.cust-view__carousel--item::after {
    padding: 40px;
    background-color: #faefe0;
    z-index: 1;
    transition: opacity .5s ease;
}

.cust-view__carousel--item:hover::after,
.cust-view__carousel--item:hover::before {
    opacity: 1;
}


.footer-copyright p {
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
}

.footer-copyright span {
    font-family: "Poppins", sans-serif;
    position: relative;
    margin: 0 5px;
}

.footer-copyright span::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -5px;
    width: 19px;
    /* шире основного */
    height: 20px;
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: transparent;
    z-index: 9;
}